apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: auth-service-external-secret
  namespace: eduhub
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-parameter-store
    kind: SecretStore
  target:
    name: auth-service-secret
    creationPolicy: Owner
  data:
  # Auth-specific parameters
  - secretKey: APP_URL
    remoteRef:
      key: /prod/eduhub/auth/APP_URL
  - secretKey: JWT_ACCESS_TOKEN_SECRET
    remoteRef:
      key: /prod/eduhub/auth/JWT_ACCESS_TOKEN_SECRET
  - secretKey: JWT_ACCESS_TOKEN_EXPIRES_IN
    remoteRef:
      key: /prod/eduhub/auth/JWT_ACCESS_TOKEN_EXPIRES_IN
  - secretKey: JWT_REFRESH_TOKEN_SECRET
    remoteRef:
      key: /prod/eduhub/auth/JWT_REFRESH_TOKEN_SECRET
  - secretKey: JWT_REFRESH_TOKEN_EXPIRES_IN
    remoteRef:
      key: /prod/eduhub/auth/JWT_REFRESH_TOKEN_EXPIRES_IN
  - secretKey: PORT
    remoteRef:
      key: /prod/eduhub/auth/PORT
  - secretKey: POSTGRES_DB
    remoteRef:
      key: /prod/eduhub/auth/POSTGRES_DB
  - secretKey: POSTGRES_HOST
    remoteRef:
      key: /prod/eduhub/auth/POSTGRES_HOST
  - secretKey: POSTGRES_PASSWORD
    remoteRef:
      key: /prod/eduhub/auth/POSTGRES_PASSWORD
  - secretKey: POSTGRES_USER
    remoteRef:
      key: /prod/eduhub/auth/POSTGRES_USER
  - secretKey: REDIS_URL
    remoteRef:
      key: /prod/eduhub/auth/REDIS_URL
  - secretKey: SMTP_USER
    remoteRef:
      key: /prod/eduhub/auth/SMTP_USER
  - secretKey: SMTP_PASSWORD
    remoteRef:
      key: /prod/eduhub/auth/SMTP_PASSWORD
  - secretKey: EMAIL_FROM
    remoteRef:
      key: /prod/eduhub/auth/EMAIL_FROM
  
  # Shared service parameters
  - secretKey: NODE_ENV
    remoteRef:
      key: /prod/eduhub/services/NODE_ENV
  - secretKey: POSTGRES_PORT
    remoteRef:
      key: /prod/eduhub/services/POSTGRES_PORT
  - secretKey: RESET_TOKEN_EXPIRES_IN_MINUTES
    remoteRef:
      key: /prod/eduhub/services/RESET_TOKEN_EXPIRES_IN_MINUTES
  - secretKey: SMTP_HOST
    remoteRef:
      key: /prod/eduhub/services/SMTP_HOST
  - secretKey: SMTP_PORT
    remoteRef:
      key: /prod/eduhub/services/SMTP_PORT