# Local .terraform directories
**/.terraform/*
.terraform.tfstate.lock.info

# Terraform state files
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log


# Override files (often local-only)
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform plan output files
*.plan

# CLI configuration files
.terraformrc
terraform.rc
